/* VARIABLES */
$primary-color: #bae8e8;
$primary-secondary: #e3f6f5;
$color-hedfot: #272343;
$color-white: #fff;
$color-lightblue: #537ec5;
$color-lightblues:#7d9ed1;
$color-black: #000000;
$color-green:#63a426; 


//fonts
$font-stack:  Helvetica, sans-serif;
$font-family-global: arial;




